@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800';

body {
  padding: 50px 50px 5px;
  font: 14px "Open Sans", sans-serif;
  background: url("/images/gray_sand.jpg") repeat;
  color: white;
  font-weight: 500;
}

a {color: #00B7FF;}

.headerSection{
  border: 2px solid #fff;
  padding: 30px 30px 60px;
  background: rgba(0,0,0,0.3);
}
.pHeader {
  font-size: 48px;
  color: #fff;
  font-weight: 200;
}

h1 span {
  font-weight: 600;
  text-shadow: 2px 2px 0px #4099ff;
}

.highlight{
  color: #4099ff;
  font-weight: 500;
}

.btn-ghost {
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 0;
  color: #ffffff;
  white-space: nowrap;
  padding: 7px 12px;
}
.btn-ghost:hover {
  color: #fff;
}

.sForm {
  width: 85%;
  height: 36px;
  border-radius: 0;
  float: left;
  margin-right: 8px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #fff;
  color: #ffffff;
}
.sForm::-webkit-input-placeholder {color: #ffffff; }

@media screen and (max-width: 768px) {
  .sForm {
    width: 65%;
  }
}

.showTweets {
  padding: 15px;
}

.userTweet {
  max-width: 350px;
  background: #ffffff;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
  color: #333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  display: inline-block;
  -moz-animation-duration: 6s;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  margin: 15px;
}
.userTweet .profileImg {
  margin: 5px;
}
.userTweet p.text {
  margin-top: 10px;
  display: inline-block;
}
.userTweet p.name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 2px;
  color: #777;
}

#cloud{
  width: 100%;
  height: 800px;
}


footer{
  width: 100%;
  height: 20px;
  margin: 0 auto;
}
footer p{
  word-spacing: 2px;
}

